
body {
  background: #8DC26F;  
    display: flex;
    align-items: center; 
}
.container {
  width: 360px;
  padding: 8% 5% 5% 5%;
  margin: auto;
  background: #FFFFFF;
  text-align: center;
}
.invisible {
  display: none;
}
.view-title {
  color: #4CAF50;
  text-transform: uppercase;
    margin-bottom: 20px;
}
div.view-content{
    height:250px;
    font-size:20px;
}

 input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
    //color:red;
}
button {
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}
button:hover,button:active,button:focus {
  background: #43A047;
}

button.pager{
    display:inline-block;
    width:30%;
    margin: auto;
}

#message{
    width:350px;
    word-wrap: break-word;
    color:#43A047;
}


input:required:invalid, input:focus:invalid {
  border-style: solid;
  border-width: 1px;
  border-color: #ff5533;
}
